{% extends "base.html" %}
{% block content %} 

<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2"> 
      <h3 class="center-align light-grey-text text-darken-2">
        {{ username }}'s Dashboard
      </h3>
          <h5 class="center-align light-grey-text text-darken-2">
            The purpose of this dashboard is to provide {{ username }} with a clear understanding of their job
             description so they can strategically align their work to their duties. It will also allow {{ username }} 
             to monitor their career goals, vacation days and sick days including an option to upload documents
              supporting any sick leave.
          </h5>  

          <a href="{{ url_for('edit_dashboard') }}">  Upload Your Info Here</a> 
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="collapsible popout">
      {% for dash in dashboards %} 
      <li>
          <div class="collapsible-header white-text blue-grey darken-4 text-shadow">
              <div class="col s3">
                  <i class="fas fa-caret-down"></i>
                  {% if session.user|lower == user.username|lower  %}
                      <a href="{{ url_for('delete_dash', dash_id=dash._id) }}" class="btn-small blue accent-2">Delete</a>
                      <a href="{{ url_for('edit_dashboard', dash_id=dash._id) }}" class="btn-small grey accent-2">Edit</a>
                  {% endif %} 
              </div>
              <div class="col s9">
                  
               
            <strong>{{ dash.job_description }}</strong>: {{ dash.holiday_start_date }} , {{ dash.holiday_end_date }}
            {% if sale.purchase_approval == "Yes" %}
              <i class="fas fa-exclamation-circle light-grey-text text-lighten-2 tooltipped"
               data-position="right" data-tooltip="Approval Needed!"> </i>    
            {% endif %} 
              </div>
          </div>    
          <div class="collapsible-body"> 
              <p>{{ dash.career_goals }}</p> 
          </div>
      </li>
      {% endfor %} 
  </ul>
  </div> 
  
</div>


   

   
{% endblock %} }