{% extends "base.html" %}  
{% block content %}

    {% for sale in sales %} 
    {{ sale.customer_name }}<br>
    {{ sale.close_date }}<br>
    {{ sale.sale_amount }}<br>
    {{ sale.purchase_approval }}<br>
    {{ sale.sale_description }}<br>
    {% endfor %}  

    <h2>View your Sales in progress:</h2>

    <ul class="collapsible popout">
        <li>
          <div class="collapsible-header white-text light-green darken-2 text-shadow"><i class="fas fa-caret-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text light-green darken-2 text-shadow"><i class="fas fa-caret-down"> </i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text light-green darken-2 text-shadow"><i class="fas fa-caret-down"> </i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

{% endblock %}    