{% extends "base.html" %}  
{% block content %}

    <h3 class="light-green-text text-darken-2 center-align">Sales in progress:</h3>

    <ul class="collapsible popout">
        {% for sale in sales %} 
        <li>
            <div class="collapsible-header white-text light-green darken-2 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == sale.created_by|lower  %}
                        <a href="{{ url_for('delete_sale', sale_id=sale._id) }}" class="btn-small blue accent-2">Done</a>
                        <a href="{{ url_for('edit_sale', sale_id=sale._id) }}" class="btn-small grey accent-2">Edit</a>
                    {% endif %} 
                </div>
                <div class="col s9">
                    
                 
              <strong>{{ sale.customer_name }}</strong>: {{ sale.close_date }}
              {% if sale.purchase_approval == "Yes" %}
                <i class="fas fa-exclamation-circle light-green-text text-lighten-2 tooltipped"
                 data-position="right" data-tooltip="Approval Needed!"> </i>    
              {% endif %} 
                </div>
            </div>    
            <div class="collapsible-body">
                <strong>{{ sale.sale_amount }}</strong>
                <p>{{ sale.sale_description }}</p>
                <p><em>by: {{ sale.created_by }}</em></p>
            </div>
        </li>
        {% endfor %} 
    </ul>

{% endblock %}    