{% extends "base.html" %} 
{% block content %}

    <div class="row">
        {% for user in users %} 
        <div class="col s12 m3">
        <div class="card light-green text-shadow center-align darken-2">
            <div class="card-content white-text">
                 <span class="card-title">{{ users.username }}</span> 
            </div>
            <div class="card-action">
                <a href="#" class="btn blue accent-4">Edit</a>
                <a href="#" class="btn red accent-4">Delete</a>
            </div>
        </div>
        </div>
        {% endfor %} 
    </div>
{% endblock %}  